<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8" />
	  <title>No connection to the internet</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="title" content="WillDom">
	  <meta name="author" content="Jose V.">
	  <meta name="description" content="WillDom">
	  <%= csrf_meta_tags %>
	  <%= csp_meta_tag %>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= stylesheet_pack_tag 'application',
	      media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= javascript_pack_tag 'application',
	      'data-turbolinks-track': 'reload' %>
	</head>
	 <body>
		<style>
			.header {
				margin-top: 5rem;
			}
		</style>

	 	<div class="container">
	 		<h1 class="header">
	      Hodinkee <code>CODE CHALLENGE</code>
	    </h1>
	    <br>
	    <em>This is to test the offline page</em>
	 		<br>
	 		<br>
	 		<h3>Requirements:</h3>
	 		<p>
	 			You are expected to build a small blog using Ruby on Rails (and optionally React).
	 		</p>
	 	</div>
	</body>
</html>
